#mymy {
    font-size: 164px;
    color: rgb(19, 30, 192);
    text-align: center;
    font-weight: 800;
    border: 24px black double;
}

#kiki {
    font-size: 60px;
    color: rgb(172, 31, 31);
    text-align: left;
    font-weight: 800;
    margin: 52px;

}

#mommy {
    color: purple;
}

.name {
    font-size: 24px;
}

span {
    font-size: 70px;
}

.content {
    border: 8px solid #24210f;
    padding: 20px 80px;
    background: #67c8d7;

    border-radius: 45px;
}